<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Pitch Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>Select Category</strong>
            </a>
            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('main.promotional')}}"><strong>Promotional Pitches</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('main.interview')}}"><strong>Interview Pitches</strong></a>
              <a class="dropdown-item"  href="{{url_for('main.product')}}"><strong>Product Pitches</strong></a>
              <a class="dropdown-item" href="{{url_for('main.pick_up_lines')}}"><strong> Pick Up Lines</strong></a>
            </div>
          </li>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div>
        </div>
      </div>
    </nav>
  </header>